
/*nav bar customer color*/
#navWord{
    color:white;
    font-family: 'Arimo', sans-serif;
    font-size: 21px;

}

h1{
    font-family: 'Cabin', sans-serif;;
}

h2{
    font-family:'Cabin', sans-serif;;

}
/*navbar*/
#mainNav{
    background-color: rgba(17, 41, 73, 0.904)!important;
    
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg, #373838 0%, #030303 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

  }

.text-secondary{
   margin-top:30px;
   color: #050505!important;
 }

/*about me section*/
#photo{
  width:70%;
   padding-left: 50px;
  }

/*about me section*/
 #about{
    padding-right: 50px;
  }

/*about me section*/
section {
    padding: 6rem 0;
  }

/*about me section*/
section h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    margin-top: 20px;
  }

.bg-primary {
    background-color: rgba(17, 41, 73, 0.904)!important;
}
/*footer*/
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(17, 41, 73, 0.904);
    color: #fff;
  }
 /*bottom footer*/ 
.copyright {
    background-color: rgba(17, 41, 73, 0.904);
}

/*contact page control*/
#contact{
    padding:0rem 0;
    padding-bottom: 2.5rem;
}

